name: Windows

#on:
#  workflow_dispatch:

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # explicit include-based build matrix, of known valid options
      matrix:
        include:
          - os: windows-2022
            cuda: "12.6.2"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            config: Release
          - os: windows-2022
            cuda: "13.0.0"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            config: Release
          - os: windows-2025
            cuda: "12.6.2"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            config: Release
          - os: windows-2025
            cuda: "13.0.0"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            config: Release

    env:
      cmake_generator: "${{ matrix.visual-studio }}"
      visual_studio: "${{ matrix.visual-studio }}"
      build_dir: "build"
    steps:
      - name: Checkout barney
        uses: actions/checkout@v5
        with:
          submodules: true

#      - name: Install CUDA on Ubuntu systems
#        if: contains(matrix.os, 'ubuntu')
#        env:
#          cuda: ${{ matrix.cuda }}
#        run: .github/action-scripts/install-cuda-ubuntu.sh
#        shell: bash

      - name: Install CUDA on Windows
        if: contains(matrix.os, 'windows')
        env:
          cuda: ${{ matrix.cuda }}
        run: .github\action-scripts\install-cuda-windows.ps1
        shell: powershell

      - name: cmake configure
        run: |
          mkdir ${{github.workspace}}\build
          cd ${{github.workspace}}\build
          cmake .. -DCMAKE_INSTALL_PREFIX=${{github.workspace}}\install ${{ matrix.build_flags }} -A x64 -G "${{ matrix.visual-studio }}"

      - name: cmake build
        run: |
          cd ${{github.workspace}}\build
          cmake --build . --config ${{ matrix.config }}

      - name: cmake install
        run: |
          cd ${{github.workspace}}\build
          cmake --install .  --config ${{ matrix.config }}
